<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% endblock %}

    {% block javascripts %}
        {% javascripts '@jquery_js' '@bootstrap_js' '@turbulence_js' filter='?yui_js' combine=false %}
        <script src="{{ asset_url }}"></script>
				{% endjavascripts %}
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' '@turbulence_css' combine=false %}
				#{% endstylesheets %}
        <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />
        <link href="/css/proton.css" type="text/css" rel="stylesheet" />
				<link href="/css/custom.css" type="text/css" rel="stylesheet" />
        
    {% endblock %}
	   
</head>
<body>

{% block content %}
    {% block navigation %}
        {% include "VestSharedBundle:turbulence/widgets:navigation.html.twig" with navigation %}
    {% endblock %}
    {% block headline %}
      {#  {% include "VestSharedBundle:turbulence/widgets:title.html.twig" with titlebar %}#}
    {% endblock %}
		<div class="body_wrapper">
		
			<div class="row">
				<div class="col-md-12">
						{% block contentinner %}
						{% endblock %}
						</div>
			</div>
		</div>
{% endblock %}
</body>
</html>