.custom_footer {
  position: absolute;
  bottom: 0;
}
.custom_footer a {
  color: #3699D2 !important;
}
.buttonlist {
  margin-bottom: 20px;
}
.no-border .table-header-row {
  border: none;
}
.well {
  background: #fff;
}
.dataTables_wrapper table {
  margin-bottom: 20px!important;
}
button.btn.btn-primary,
a.btn.btn-primary {
  background: #52A3E7 !important;
}
.no-top-border .table-header-row {
  border-top: none;
  padding: 0 0 10px 0;
}
#merkmenge {
  line-height: 1;
}
#tableSortable input {
  height: 14px;
  margin: 0;
}
.custom_logobar {
  background-color: #333333;
}
.custom_widgetsize4,
.custom_widgetsize4 > div {
  width: 400px;
}
.logo {
  height: 100%;
}
.logo-nav {
  display: none;
}
@media (min-width: 768px) {
  .logo-nav {
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
  }
}
.anmeldeinfo {
  color: #999;
  margin: 5px 0 5px 60px;
}
.display_width {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #333;
  color: #fff;
}
.pflichtfeld_marke {
  color: #f45d4e;
}
.pflichtfeld_text {
  font-size: 12px;
}
#box {
  position: absolute;
  z-index: 3;
}
#box a {
  color: #00000;
  display: inline;
  padding: 5px;
  width: 30px;
}
#box a:hover {
  color: black;
  width: 30px;
}
#box a span {
  display: none;
}
#box a:hover span {
  position: absolute;
  color: black;
  background: #EEEEEE;
  display: block;
  padding: 10px;
  z-index: 5;
}
.panel-body .h4,
.panel-body > div.h4 {
  color: #075292;
  font-weight: bold;
}
.panel-body table {
  background: transparent;
}
.no-padding {
  padding: 0;
}
.big-icon .panel-heading a {
  margin: -10px -15px 0 0;
  padding: 10px 15px;
}
.big-icon .panel-heading a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.panel-transparent {
  background: transparent;
  box-shadow: none;
}
.person-picture {
  width: 150px;
  height: 200px;
  float: left;
  margin-right: 20px;
}
.person-picture img {
  max-height: 100%;
  max-width: 100%;
}
.person-info {
  float: left;
  margin-right: 40px;
}
.person-vita {
  float: left;
}
.panel-footer.social-icons {
  padding: 5px 15px;
}
.panel-footer.social-icons .social-icon {
  float: right;
  font-size: 20px;
  width: 30px;
  margin-right: 10px;
  text-align: center;
}
.panel-footer.social-icons .social-icon.icon-twitter {
  color: #55acee;
}
.panel-footer.social-icons .social-icon.icon-twitter:hover {
  color: #2795e9;
}
.panel-footer.social-icons .social-icon.icon-xing {
  color: #09828d;
}
.panel-footer.social-icons .social-icon.icon-xing:hover {
  color: #06565d;
}
.panel-footer.social-icons .social-icon.icon-facebook {
  color: #3b5998;
  margin-right: 0;
}
.panel-footer.social-icons .social-icon.icon-facebook:hover {
  color: #2d4373;
}
.with-stars {
  padding-right: 110px;
  position: relative;
}
ul.stars {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Glyphicons Halflings';
  color: #e3b033;
}
ul.stars li {
  float: left;
  list-style-type: none;
  margin-top: 1px;
}
ul.stars li:before {
  content: "\e007";
}
ul.stars li.active {
  margin-top: 0;
}
ul.stars li.active:before {
  content: "\e006";
}





body{
	overflow: scroll;
}


.body_wrapper{
	margin-left: 280px;
	margin-right: 20px;
	margin-top: 20px;
}

.navi_logo{
	margin: 25px;
	width: 200px;
}


th{
	font-weight: bold;
	padding: 5px;
}
td{
	padding: 5px;
}


#einleitungstext textarea{
	width: 480px;
	height: 310px;
	resize: none;
}

.list-group-item{
height: 40px;

}
.verlinkung{
  margin: 20px;
}
.form_wrapper{
  margin: 10px;
  width: 700px;
}
.task_wrapper{
  margin: 10px;
  text-align: center;
}
.button_wrapper{
  margin: 10px;
  text-align: center;
}

.form_wrapper div{
  margin: 10px;
  text-align: center;
}
.glyphicon{
	margin-right: 5px;
}

.skalar_frage div input{
	margin: 5px;
}

