{% block headline %}
<nav class="user-menu">
    <a href="javascript:;" class="main-menu-access">
        <i class="icon-reorder"></i>
    </a>
    <img class="logo" src="/portal/img/disciplina_logo_333333.png">
</nav>


<section class="title-bar" style="border-bottom:3px solid; border-color:{{ titlebar.color }}">
    <div>
        <span>{{ titlebar.name }}</span>
    </div>
</section>

<div class="logo-nav">
    <img class="logo" src="/portal/img/disciplina_logo_666666.png">
</div>
{% endblock %}