{% extends "VestSharedBundle:turbulence:base.html.twig" %}
{% block contentinner %}


	{% for row_tmp in auswertungsbereiche %}
		
		<div class="panel panel-default">
			<div class="panel-heading">
				{{row_tmp}}
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						{% for key,value in auswertung %}
							{% if key == row_tmp %}
									<tr>
										<th>Wert</th>
										<th>Anzahl</th>
									
									</tr>
							
								{% for row in value %}
									<tr>
										<td>{{ row.antwort }}</td>
										<td>{{ row.wert }}</td>
									

									</tr>
								{% endfor %}
							{%endif%}
						{% endfor %}
					</table>
				</div>
				
			</div>
		</div>
	{% endfor %}



{% endblock %}