{% extends "VestSharedBundle:turbulence:base.html.twig" %}
{% block contentinner %}

<div class="panel panel-default">
	<div class="panel-heading">
	<h3>
		Hilfe und Anleitung
	</h3>
	</div>
	<div class="panel-body">
		<div class="col-md-6"> 
			<p>Unter Umfragen finden sie die Liste aller von ihn erstellten Umfragen und können neue Umfragen hinzufügen</p>
			<p>Sie können jede einzelne Umfrage anklicken. Dadurch kommen sie auf die Seite der jeweiligen Umfragen.</p>
			<p>Dort finden sie im orberen Bereich den Einleitungstext und die Liste der Parameter und Auswertungsbereiche.</p>
			<p>Im unteren Bereich finden Sie die Liste aller Fragen die zu der jeweiligen Umfrage gehören.</p>
			<p>Dort können sie alle Informationen zu den Fragen einsehen und diese bearbeiten sowie ganz neue Fragen hinzu fügen.</p>
			<p></p>
			<p>Bisher ist es nicht möglich Fragen und Umfragen zu löschen. Diese Funktion muss noch eingebaut werden.</p>
		
		</div>	
		
		<div class="col-md-6"> 
		<p>Wir haben hier eine zweite Spalten, die wir auch noch nutze können.</p>
		</div>				
		
	</div>
</div>


{% endblock %}