
{% extends "base.html.twig" %}
{% block body %}
<p>
  <!-- Gibt aus ob das eintragen erfolgreich war oder nicht -->
  {% if ergebnis == 1 %}
    Login erfolgreich.
		Hallo {{ mail }}


  <p><a href="{{ path('Security_Session') }}">Session auswerten</a></p>

  {% else %}

	Login fehlgeschlagen
  {% endif %}

<p>
{% endblock %}