
{% extends "base.html.twig" %}
{% block body %}


{% if eingetragen %}
<p>Erfolgreich Eingetragen</p>
{% else %}
 <p>Fehler beim eintragen</p>

 {% for error in errors %}

	<p>{{error}}</p>
	{% endfor %}

{% endif %}


  <p><a href="{{ path('Responsa_overview') }}">Zurück zur Übersicht</a></p>
<style>
.verlinkung{
  margin: 20px;
}
.form_wrapper{
  margin: 10px;
  width: 400px;
}
.task_wrapper{
  margin: 10px;
  text-align: center;
}

.form_wrapper div{
  margin: 10px;
  text-align: center;
}
</style>
{% endblock %}